.back{
    height: 1400vh;
}
.grid-container{
    display: flex;
    justify-content: center;
    align-content: center;
}
.grid-item{
    position: sticky;
    width: 200px;
    height: 300px;
    margin: 20px;
    border: 2px solid black;
}
.grid-item-1{
    
}
.grid-item-2{

}
.grid-item-3{

}